<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TP_INTEGRADOR_GP4"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Tp_Integrador_Grupo14_VFinal;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>